<mat-toolbar color="primary" class="px-4 shadow-md">
    <div class="flex items-center gap-2 cursor-pointer" routerLink="/">
      <mat-icon class="text-2xl">location_on</mat-icon>
      <span class="text-xl font-bold leading-none">VioMap</span>
    </div>
    
    <div class="flex-grow"></div>
    
    <nav class="flex gap-4">
      <a mat-button routerLink="/map" routerLinkActive="bg-primary-700" class="text-white">
        <mat-icon>map</mat-icon>
        <span class="ml-1">Mapa</span>
      </a>
      <a mat-button routerLink="/report" routerLinkActive="bg-primary-700" class="text-white">
        <mat-icon>report</mat-icon>
        <span class="ml-1">Reportar</span>
      </a>
      <a mat-button routerLink="/statistics" routerLinkActive="bg-primary-700" class="text-white">
        <mat-icon>analytics</mat-icon>
        <span class="ml-1">Estatísticas</span>
      </a>
    </nav>
</mat-toolbar>
<router-outlet />
